@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}

.banner{
  background-image: url("../common/assets/img/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
